* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}

.logo {
    margin-bottom: 10px;
}



.nav ul {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    background-color: white;
    font-family: arial;
    box-shadow: 10px 5px 5px grey;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;


}

.nav a:hover {

    color: grey;

}

.nav li {


    float: left;
}

h1 {
    font-family: Arial;
    font-size: 50px;
    color: #333467;
}




.oost_knop{transition: transform 0.3s ease;}
.oost_knop:hover{transform: scale(1.1);}


.nieuw_west_knop{transition: transform 0.3s ease;}
.nieuw_west_knop:hover{transform: scale(1.1);}

.zuid_oost_knop{transition: transform 0.3s ease;}
.zuid_oost_knop:hover{transform: scale(1.1);}

.lees-meer {
    font-family: arial;
    display: inline-flex;         /* tekst + pijl netjes naast elkaar */
    align-items: center;          /* verticaal centreren */
    gap: 8px;                     /* ruimte tussen tekst en pijl */
    font-size: 1rem;           
    text-decoration: none;        
    color:  #333467;                
    font-weight: bold;            
    transition: color 0.2s ease;  /* animatie bij hover */
}

.lees-meer:hover {
   color: #e45b00; /* accentkleur toevoegen */
}

.arrow {
   font-size: 1.5rem;  /* zelfde grootte als tekst */
   transition: transform 0.2s ease;
}

.lees-meer:hover .arrow {
    
    transform: translateX(5px); /* pijl schuift iets naar rechts bij hover */
}






h2 {
    font-family: arial;
    color: #333467;




}

p {
    font-family: arial;
}

h1{
    padding-bottom: 10px;
}




.hero {
   

    @media (min-width: 678px) {
            display:flex;
            height: 900px;


    }

}



.links {
    
    padding-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
    
    @media (min-width: 678px) {
            width: 35%;
            margin-top: 190px;
       


    }
}







.rechts {
    padding-top: 10px;
    align-items: center;
   
    


   

     @media (min-width: 678px) {
             width: 65%;
             padding-left: 55px;
             padding-top: 90px;}
}

.titel_hero{

    margin-top: 20px;
}

 .responsive_img_artikelen{

    display: flex;
    width: 370px; 
    align-items: center;
  

    @media (min-width: 678px) {
        width: 350px;}
}

.responsive_img{
    
    display: flex;
    width: 370px; 
    align-items: center;
  

    @media (min-width: 678px) {
            width: 700px;}
}

.locatie-label-oost {
   
    margin-top: 10px;
    font-family: Arial;
    background-color: #8EA34B; 
  color: white;             
  text-transform: lowercase; 
  font-size: 20px;           
  font-weight: 200;
  padding: 4px 12px;         /* Binnenruimte */
  border-radius: 2px;        
  display: inline-block;     
  margin-right: 8px;         /* Ruimte tussen label en titeltekst */
  vertical-align: middle;    /* Lijnt netjes uit naast de titel */
}

.locatie-label-nieuw-west {
 margin-top: 10px;
    font-family: Arial;
    background-color: #333467; 
  color: white;             
  text-transform: lowercase; 
  font-size: 20px;          
  font-weight: 200;
  padding: 4px 12px;         /* Binnenruimte */
  border-radius: 2px;        
  display: inline-block;     /* Zorgt dat het blokje de juiste maat heeft */
  margin-right: 8px;         /* Ruimte tussen label en titeltekst */
  vertical-align: middle;    /* Lijnt netjes uit naast de titel */
}

.locatie-label-Zuid-oost {
    margin-top: 10px;
    font-family: Arial;
    background-color: #085B64; 
    color: white;             
    text-transform: lowercase; 
    font-size: 20px;           
    font-weight: 200;
    padding: 4px 12px;         /* Binnenruimte */
    border-radius: 2px;        /* Kleine hoekafronding */
    display: inline-block;     /* Zorgt dat het blokje de juiste maat heeft */
    margin-right: 8px;         /* Ruimte tussen label en titeltekst */
    vertical-align: middle;    /* Lijnt netjes uit naast de titel */
}





.tekst_laatste_nieuws {
     margin-top: 10px;
     width: 25rem;
     font-family: arial;
     color: #333467;
    
}


.nieuwsartikelen {

    justify-content: space-between;
    @media (min-width: 678px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       
}
}
.linkernieuws{

    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
 @media (min-width: 678px) {
    text-align: left;
    padding-left: 80px;
 }
   
}



.Middennieuws{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;

    @media (min-width: 678px) {
    text-align: left;
    padding-left: 80px;
 }
   
}



.Rechtsnieuws{

    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;

       @media (min-width: 678px) {
    text-align: left;
    padding-left: 80px;
 }
   
}

.linkernieuws2{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
   
       
    @media (min-width: 678px) {
    text-align: left;
    padding-left: 80px;
    padding-top: 50px ;
 }
}

.Middennieuws2{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
   
       
    @media (min-width: 678px) {
    text-align: left;
    padding-left: 80px;
    padding-top: 50px ;
   
 }
}